---
import { Button } from "@/components/ui/button";
import { MajorSelect } from "@/components/courses/major-select";
import {
  PageActions,
  PageHeader,
  PageHeaderDescription,
  PageHeaderHeading,
} from "@/components/ui/page-header";
import Site from "@/layouts/Site.astro";
---

<Site
  content={{
    title: "torus - courses",
  }}
>
  <PageHeader>
    <PageHeaderHeading>Find courses.</PageHeaderHeading>
    <PageHeaderDescription
      >Search for courses, read their TQFRs, and audit your degree completion
      here.</PageHeaderDescription
    >
    <!-- <PageActions>
      <Button asChild size="sm" className="rounded-md">
        <a href="/docs/installation">Get Started</a>
      </Button>
      <Button asChild size="sm" variant="ghost" className="rounded-md">
        <a href="/blocks">Browse Blocks</a>
      </Button>
    </PageActions> -->
  </PageHeader>
  <div class="border-grid border-b">
    <div class="container-wrapper">
      <div class="container py-4">
        <MajorSelect client:load />
      </div>
      <div class="container py-4">
        <MajorSelect client:load />
      </div>
    </div>
  </div>
</Site>
